/* Botão do menu só no mobile */
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-top: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #mobile-menu ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
  }

  #mobile-menu ul.show {
    display: flex;
  }

  #mobile-menu ul li {
    margin: 10px 0;
  }

  .Cabeçalho {
    flex-direction: column;
    align-items: flex-start;
  }
}
